
.container {
    padding: 10px;
}

.joke {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 2px;
}

.text {
    display: inline-block;

}

.buttons {
    vertical-align: center;
    float: right;
    padding: 5px;
}